## Pandas: versatile tool for data wrangling in Python

* emphasis on tabular data (csv and the like)
* database/spreadsheet-like functionality
* rich support for mixed data (numpy is for homogeneous arrays)
* integrates cleanly with numpy and matplotlib
* really shines with time-series data

<img src="http://akamaicovers.oreilly.com/images/0636920023784/lrg.jpg" width="30%">

  - Definative Book: http://shop.oreilly.com/product/0636920023784.do#
  - Quick Ref: http://pandas.pydata.org/pandas-docs/stable/10min.html

In [1]:
import numpy as np
import pandas as pd  ## this is by convention
pd.options.display.width = 1000

In [ ]:
s = pd.Series([-1, 20, -30, 40, -50])
s

In [ ]:
s.index

In [ ]:
s.index[2]

In [ ]:
s.values

In [ ]:
s2 = pd.Series([1, 2, np.nan, 4, 5],
              index=['one', 'two', 'three', 'four', 'five'])
s2

In [ ]:
s2.index[0]

In [ ]:
s2

In [ ]:
s2['three']

In [ ]:
s2[2]

In [ ]:
s2[['one', 'three', 'two']]

In [ ]:
s2

In [ ]:
s3 = s2[:3]

In [ ]:
s2

In [ ]:
s3

In [ ]:
s3.to_dict()

In [ ]:
pd.Series(s3.to_dict())

In [ ]:
df = pd.DataFrame({'A': s2, 'B': s3})
df

In [ ]:
df['A']

In [ ]:
df['B']

### Boolean indexing

In [ ]:
df[df["A"] > 0]

**Note** While many of the NumPy access methods work on DataFrames, use the pandas-specific data access methods, `.at`, `.iat`, `.loc`, `.iloc` and `.ix`.

See the [Indexing section](http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing) and below.

In [ ]:
df.ix['four']

Select via the position of the passed integers ... looks like NumPy indexing.

In [ ]:
df.iloc[1:3, :]

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.values

In [ ]:
df

In [ ]:
df.values

In [ ]:
df.sort_index(ascending=True)

In [ ]:
df2 = pd.DataFrame(df.values, columns=['A', 'B'])

In [ ]:
df2['A'] = 7.5
df2

In [ ]:
df2.dropna?

In [ ]:
df3 = df2.dropna()
df3

In [ ]:
del df3["A"]
df3

## Reading in Data, Time Series

In [ ]:
!head -n 10 multiTimeline.csv

In [ ]:
fred = pd.read_csv('multiTimeline.csv')
fred

In [ ]:
fred.head(10)

In [ ]:
fred['ice cream']

In [ ]:
fred["ice cream"].index[:10]

In [ ]:
fred["Week"][:5]

In [ ]:
fred.Week[0]

In [2]:
# Several ways to convert to date
from datetime import datetime
import dateutil.parser as parser

In [ ]:
print(parser.parse(fred.Week[0]))

In [ ]:
datetime.strptime(fred.Week[0], '%Y-%m-%d')

In [ ]:
dates = [datetime.strptime(x, '%Y-%m-%d') for x in fred.Week]
dates

In [ ]:
pd.DatetimeIndex(dates)

In [ ]:
# Series in, Series out
pd.to_datetime(fred.Week)

In [ ]:
# NumPy array in, DatetimeIndex out
pd.to_datetime(fred.Week.values)

In [ ]:
pd.to_datetime(fred.Week, format='%Y-%m-%d')

In [ ]:
pd.to_datetime(['96/21/05'], format='%y/%d/%m')

In [ ]:
fred.info()

In [ ]:
print(fred.to_string())

In [3]:
from IPython.display import HTML

In [ ]:
HTML(fred.to_html())

In [ ]:
fred['Week'] = pd.to_datetime(fred['Week'])
fred.dtypes

In [ ]:
fred.index[:50]

In [ ]:
# Returns new object without inplace=True!
fred.set_index('Week', inplace=True)

In [ ]:
fred.info()

In [ ]:
fred.head()

In [ ]:
fred["ice cream"]

In [ ]:
type(fred["ice cream"])

In [ ]:
fred.index

In [ ]:
fred.index[5]

In [ ]:
stamp = fred.index[5]
stamp

In [ ]:
stamp.year, stamp.month, stamp.day

In [ ]:
stamp.weekday()

In [ ]:
fred.index.year

In [ ]:
fred.index.weekday

In [ ]:
fred.info()

In [4]:
%matplotlib inline
import matplotlib.pylab as plt

In [ ]:
fred["ice cream"].plot()

In [ ]:
fred.plot()

Typically, you'll try to format your data as you read it in. Here we can do all that date and index stuff in one line.

In [6]:
fred = pd.read_csv('multiTimeline.csv',index_col=0,parse_dates=[0])
fred.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 261 entries, 2011-09-03 to 2016-08-27
Data columns (total 3 columns):
ice cream     261 non-null int64
Volleyball    261 non-null int64
tennis        261 non-null int64
dtypes: int64(3)
memory usage: 8.2 KB

## Merging data frames

We often want to combine dataframes by index, joining columns together on the same index.

In [ ]:
!head full_moon.csv

In [5]:
moon = pd.read_csv('full_moon.csv',index_col=0,parse_dates=[0])
moon.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 261 entries, 2011-09-03 to 2016-08-27
Data columns (total 1 columns):
full moon    261 non-null int64
dtypes: int64(1)
memory usage: 4.1 KB

Below, the merge `how` can be:

  * left: use only keys from left frame (SQL: left outer join)
  * right: use only keys from right frame (SQL: right outer join)
  * outer: use union of keys from both frames (SQL: full outer join)
  * inner: use intersection of keys from both frames (SQL: inner join)

In [7]:
df = fred.merge(moon,left_index=True, right_index=True, how = 'right')
df

            ice cream  Volleyball  tennis  full moon
Week
2011-09-03         25          18      83         26
2011-09-10         21          18      58         50
2011-09-17         20          18      25         14
2011-09-24         21          18      24         17
2011-10-01         20          18      24         21
2011-10-08         20          18      23         55
2011-10-15         27          19      22         13
2011-10-22         21          21      21         16
2011-10-29         19          22      20         17
2011-11-05         19          22      21         56
2011-11-12         21          20      20         16
2011-11-19         22          15      22         12
2011-11-26         19          14      21         15
2011-12-03         19          12      19         39
2011-12-10         21          11      19         21
2011-12-17         24           8      18         12
2011-12-24         23           7      19         14
2011-12-31         21          10      21         27
2012-01-07         22          12      22         48
2012-01-14         22          11      28         14
2012-01-21         22          12      33         16
2012-01-28         22          11      29         19
2012-02-04         23          11      23         47
2012-02-11         22          11      23         13
2012-02-18         22          11      25         15
2012-02-25         23          12      26         16
2012-03-03         23          12      27         53
2012-03-10         26          11      32         14
2012-03-17         27          11      32         14
2012-03-24         26          13      32         16
...               ...         ...     ...        ...
2016-02-06         19          12      20         17
2016-02-13         21          12      22         26
2016-02-20         22          12      23         58
2016-02-27         22          13      22         15
2016-03-05         25          13      26         19
2016-03-12         27          12      28         20
2016-03-19         27          12      27         66
2016-03-26         25          14      27         17
2016-04-02         26          13      24         18
2016-04-09         28          13      26         20
2016-04-16         31          13      26         68
2016-04-23         29          13      24         20
2016-04-30         29          12      24         18
2016-05-07         31          13      26         64
2016-05-14         32          12      25         47
2016-05-21         36          12      29         33
2016-05-28         40          12      31         16
2016-06-04         38          11      28         18
2016-06-11         39          11      24         33
2016-06-18         42          12      23         83
2016-06-25         43          12      34         14
2016-07-02         44          11      40         18
2016-07-09         44          12      29         25
2016-07-16         53          12      24         87
2016-07-23         43          11      25         16
2016-07-30         41          18      28         19
2016-08-06         36          60      52         23
2016-08-13         36          64      37         87
2016-08-20         34          30      29         19
2016-08-27         33          24      45         16

[261 rows x 4 columns]

Let's save that for later:

In [8]:
df.to_csv("merged_data.csv")

In [ ]:
!head merged_data.csv

In [ ]:
df.to_

In [ ]:
import io
a = io.StringIO()
df.to_latex(buf=a)
a.seek(0)
print(a.read())
a.close()

In [ ]:
df[["ice cream","full moon"]]['2013':'2014'].head()

In [ ]:
df[["ice cream","full moon"]]['2013-06':'2013-09'].head()

In [ ]:
stamp

In [ ]:
df["ice cream"][stamp]

In [ ]:
df.ix[stamp]

In [ ]:
years = df.index.year
years

### Grouping 

By “group by” we are referring to a process involving one or more of the following steps

- **Splitting** the data into groups based on some criteria
- **Applying** a function to each group independently
- **Combining** the results into a data structure

See the [Grouping docs](http://pandas.pydata.org/pandas-docs/stable/groupby.html#groupby) for more.

In [ ]:
annual_min = df.groupby(years).min()
annual_max = df.groupby(years).max()

Another operation to combine dataframes: `pd.concat`

<pre>
pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, copy=True)

Concatenate pandas objects along a particular axis with optional set logic
along the other axes. Can also add a layer of hierarchical indexing on the
concatenation axis, which may be useful if the labels are the same (or
overlapping) on the passed axis number
</pre>

In [ ]:
annual_min_and_max = pd.concat([annual_min, annual_max], 
                               axis=1, keys=['min', 'max'])
annual_min_and_max

### Resampling
http://pandas.pydata.org/pandas-docs/stable/timeseries.html#up-and-downsampling

<pre>
B       business day frequency
C       custom business day frequency (experimental)
D       calendar day frequency
W       weekly frequency
M       month end frequency
BM      business month end frequency
CBM     custom business month end frequency
MS      month start frequency
BMS     business month start frequency
CBMS    custom business month start frequency
Q       quarter end frequency
BQ      business quarter endfrequency
QS      quarter start frequency
BQS     business quarter start frequency
A       year end frequency
BA      business year end frequency
AS      year start frequency
BAS     business year start frequency
BH      business hour frequency
H       hourly frequency
T       minutely frequency
S       secondly frequency
L       milliseonds
U       microseconds
N       nanoseconds
</pre>

above from: http://stackoverflow.com/questions/17001389/pandas-resample-documentation

In [ ]:
df["ice cream"].resample('A-JUN').min()  # year end June

In [ ]:
df["ice cream"].resample('A-JUN', how=['min', 'max'])

In [ ]:
annual_minmax = df.resample('A-JUN', how=['min', 'max'])
annual_minmax

In [ ]:
annual_minmax.columns

In [ ]:
annual_minmax['tennis', 'max']

In [ ]:
annual_minmax[('ice cream', 'max')].index

In [ ]:
# Your own aggregation function
def mad(x):
    return np.abs(x - x.mean()).mean()
fred["ice cream"].resample('A-JUN', how=mad)

Shifting, correlation, date arithmetic
-------

In [ ]:
df.shift(3).head(10)

In [ ]:
df_1diff = df - df.shift(1)
df_1diff.head(10)

In [ ]:
df_1diff.corr()

In [ ]:
(df - df.shift(6)).corr()

In [ ]:
def lag_corr(table, periods):
    # you may not care but...
    return (table[periods:] - table.shift(periods)).corr()

def pctchg_corr(table, periods):
    # you may not care but...
    return (table[periods:] / table.shift(periods) - 1).corr()

all_lags = [lag_corr(df, i) for i in range(1, 20)]

lags_onetable = pd.concat(all_lags, keys=range(1, 20))
lags_onetable

In [ ]:
unstacked = lags_onetable.unstack(1)
unstacked

In [ ]:
unstacked['ice cream', 'tennis'].plot(label='IC-FM')
unstacked['full moon', 'Volleyball'].plot(label='FM-VB')
unstacked['tennis', 'Volleyball'].plot(label='FM-VB')

In [ ]:
df_1diff.info()

In [ ]:
df_1diff["ice cream"].corr(df_1diff["ice cream"].shift(1))

In [ ]:
df_1diff.shift(1).head()

In [ ]:
df_1diff.corrwith(df_1diff.shift(1))

In [ ]:
pd.DataFrame({'Lag1': df_1diff.corrwith(df_1diff.shift(1)),
     'Lag2': df_1diff.corrwith(df_1diff.shift(2))})

In [ ]:
lag_acorr_table = pd.DataFrame({'Lag%d' % i: 
                                df_1diff.corrwith(df_1diff.shift(i))
         for i in range(1, 7)})
lag_acorr_table

In [ ]:
lag_acorr_table.T

Date arithmetic
====

In [ ]:
df.head(10)

In [ ]:
df.shift(10, freq='H').head(10)

In [ ]:
df.shift(2, freq='M').head(10)

In [ ]:
pdf = df.to_period('M')
pdf.head(10).index

In [ ]:
pdf.index[0]

In [ ]:
pdf.index[0].asfreq('S', 'end')

In [ ]:
pdf.index[0].asfreq('S', 'start')

In [ ]:
pdf.index[0].asfreq('H', 'end') - 5

In [ ]:
# 7th business day
(pdf.index[0].asfreq('B', 'start') + 6).to_timestamp()

In [ ]:
df.head()

In [ ]:
df.shift(4, freq='D').head()

In [ ]:
df.shift(4, freq='D').resample('D').head(50)

In [ ]:
df.shift(4, freq='D').resample('D').apply(pd.Series.interpolate).head(50)

In [ ]:
df.shift(4, freq='D').resample('D', fill_method='bfill').head(50)

Time zone handling
----

In [ ]:
stamp = pd.Timestamp(datetime.now())
stamp

In [ ]:
print(stamp.tz)

In [ ]:
stamp.tz_localize('US/Pacific')

In [ ]:
stamp_pac = stamp.tz_localize('US/Pacific')
stamp_pac

In [ ]:
stamp_pac.tz_convert('Asia/Tokyo')

In [ ]:
stamp_pac.tz_convert('Asia/Tokyo').hour

In [ ]:
stamp_pac.tz_convert('Asia/Tokyo').day

In [ ]:
stamp_pac.tz_convert('Asia/Tokyo').value

In [ ]:
stamp_pac.tz_convert('Asia/Tokyo').tz_convert('utc').value

In [ ]:
df_shifted = df.shift(1, freq='4D9H30T')
df_shang = df_shifted\
    .tz_localize('US/Eastern')\
    .tz_convert('Asia/Shanghai')
df_shang

In [ ]:
df_shang.index

In [ ]:
df_shifted = df.shift(1, freq='4D9H30T')
df_shifted\
    .tz_localize('US/Eastern')\
    .tz_convert('US/Pacific').resample('A-DEC').mean()